body *{
	margin: 5px;
	padding: 4px;
	font-family: "Candara", Helvetica, sans-serif;
}

#contenido{
	width: 80%;
	margin: 0 auto;
}

#main{
	width: 74%;
	margin: 20px;
}

#main p, input{
	display: inline-block;
}

#main ul{
	list-style-type: armenian;
}

#main p{
	width: 45%;
	margin-right: 8px;
}

#main button{
	display: block;
}

/*ESTILOS LINKS*/
a {
	color: white;
	font-size: 1em;
	text-decoration: none; 	
}

.activo{
	font-weight: bold;
	text-decoration: underline;
}

a:hover{
	font-weight: bold;
	text-decoration: underline;
}

#cabecera {
	margin: 6px;
	padding: 4px;
	width: 99%;
	background-color: darkcyan;
	display: flex;
}

/*Titulo*/
header h2{
	width: 100%;
	font-family: "Garamond", Helvetica, sans-serif; /*Fuente personalizada*/
	font-weight: bold;
	font-size: 3em;
	color: white;
	vertical-align: center;
}

nav li{
	display: inline-block;
	list-style-type: none;
	margin-top: 15px;
}